.footermenu {
  background: rgba(255, 255, 0, 0.833);
  border-top: 1px solid #272727;
  position: absolute;
  width: 100%;
  height: 350px;
}

.info {
  position: absolute;
  color: #272727;
  font-weight: 500;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 30px;
  text-transform: uppercase;
}

.links ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  position: absolute;
  color: #272727;
  margin-left: -28px;
  margin-top: 230px;
}
.links a {
  text-decoration: none;
  margin: 10px;
  color: #272727;
  font-weight: 500;
}
.social-links {
  display: flex;
  /* justify-content: space-evenly; */
}
.social-links > a {
  padding-left: 30px;
  padding-top: 280px;
}
.social-links > h1 {
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
  padding-top: 285px;
}

@media screen and (max-width: 576px) {
  .footer {
    background: rgba(255, 255, 0, 0.833);
    border-top: 1px solid #272727;
    position: absolute;
    margin-top: 900px;
    width: 100%;
    height: 300px;
  }

  .info {
    position: absolute;
    color: #272727;
    font-weight: 500;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 30px;
    text-transform: uppercase;
  }

  .links ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: absolute;
    color: #272727;
    margin-left: -28px;
    margin-top: 200px;
  }
  .links a {
    text-decoration: none;
    margin: 10px;
    color: #272727;
    font-size: 11.25px;
    font-weight: 500;
  }
  .social-links {
    display: flex;
    /* justify-content: space-evenly; */
  }
  .social-links > a {
    padding-left: 30px;
    padding-top: 247px;
  }
  .social-links > h1 {
    font-size: 11.25px;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 255px;
  }
}
