@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap");
@import url("https://use.typekit.net/af/c83f26/00000000000000007735f3f0/30/l?");

@font-face {
  font-family: Sprite-custom;
  src: url(/public/font/spri.ttf);
}
* {
  /* font-family: "Kaisei Opti", serif; */
  font-family: "Sprite-custom";
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
